.About {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: var(--margin1) auto;
}

.About__me {
    width: 85%;
    height: max-content;
    margin: 0 auto;
    text-align: center;
}

.About__me--info h2::before, .About__me--info h2::after {
    display: inline-block;
    content: "";
    width: 5%;
    height: 1px;
    background-color: var(--lightGray2);
    vertical-align: middle;
}

.About__me--info p {
    margin-top: var(--margin3);
    font-size: var(--m);
    font-weight: 400;
    color: var(--dark2);
}

.About__me--title-courses {
    width: 100%;
    height: max-content;
    margin-top: var(--margin2);
}

.About__me--title-courses h3 {
    margin-bottom: var(--margin3);
    font-size: var(--l);
    font-weight: 500;
    color: var(--dark1);
    text-align: center;
}

.About__me--title-courses a {
    font-size: var(--s);
    font-weight: 400;
    color: var(--blue3);
    transition: all .2s  ease 0s;
}

.About__me--title-courses a:hover {
    color: var(--darkBlue2);
    border-bottom: 2px solid var(--blue3);
}

.About__me--courses {
    width: 100%;
    margin-top: var(--margin3);
}

.About__me--courses-item {
    width: 100%;
    min-width: 90%;
    max-height: max-content;
    margin-bottom: 6px;
}

.About__me--courses-item span {
    margin-right: 6px;
    font-size: var(--s);
    font-weight: 400;
    color: var(--blue4);
}

.About__me--courses-item a {
    font-size: var(--s);
    font-weight: 400;
    color: var(--dark2);
}

.About__skills {
    width: 85%;
    height: 100%;
    margin: var(--margin2) auto;
}

.About__skills h3 {
    font-size: var(--l);
    font-weight: 500;
    color: var(--dark2);
    text-align: center;
}

.About__skills--animation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    margin-top: var(--margin2);
}

.About__skills--animation-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: var(--darkBlue1);
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgb(56, 55, 55);
}

.About__skills--animation-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: var(--darkBlue2);
    border-radius: 50%;
}

.About__skills--animation-three {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    background-color: var(--blue1);
    border-radius: 50%;
}

.About__skills--animation-four {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
    margin: 0 auto;
    background-color: var(--blue2);
    border-radius: 50%;
}

.About__skills--animation-five {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 15%;
    margin: 0 auto;
    border-radius: 50%;
}

.svg-one {
    position: relative;
    left: 84px;
    animation: rotate 120s infinite linear;
    color: rgba(228, 77, 38, 1);
}
@keyframes rotate {
    from { transform: rotate(0deg)  translate(-150px) rotate(0deg); }
    to { transform: rotate(360deg) translate(-150px) rotate(-360deg); }
}

.svg-two {
    position: relative;
    left: 56px;
    animation: rotate-2 100s infinite linear;
    color: rgba(26, 98, 177, 1);
}
@keyframes rotate-2 {
    from { transform: rotate(0deg)  translate(-115px) rotate(0deg); }
    to { transform: rotate(360deg) translate(-115px) rotate(-360deg); }
}

.svg-three {
    position: relative;
    left: 28px;
    animation: rotate-3 80s infinite linear;
    color:  var(--lightGray);
}

@keyframes rotate-3 {
    from { transform: rotate(0deg)  translate(-84px) rotate(0deg); }
    to { transform: rotate(360deg) translate(-84px) rotate(-360deg); }
}

.svg-four {
    position: relative; 
    animation: rotate-4 60s infinite linear;
    color: rgba(76, 178, 180, 1);
}
@keyframes rotate-4 {
    from { transform: rotate(0deg)  translate(-84px) rotate(0deg); }
    to { transform: rotate(360deg) translate(-84px) rotate(-360deg); }
}

.svg-five {
    position: relative;
    right: 28px;
    animation: rotate-5 45s infinite linear;
    color: rgba(247, 224, 24, 1);
}
@keyframes rotate-5 {
    from { transform: rotate(0deg)  translate(-44px) rotate(0deg); }
    to { transform: rotate(360deg) translate(-44px) rotate(-360deg); }
}

.svg-six {
    position: relative;
    right: 56px;
    animation: rotate-6 30s infinite linear;
    color: rgba(255, 210, 88, 1);
}
@keyframes rotate-6 {
    from { transform: rotate(0deg)  translate(-44px) rotate(0deg); }
    to { transform: rotate(360deg) translate(-44px) rotate(-360deg); }
}

.svg-seven {
    position: relative;
    right: 84px;
    animation: rotate-7 20s infinite linear;
    color: rgba(97, 218, 251, 1);
}
@keyframes rotate-7 {
    to {
        transform: rotate(1turn);
    }
}

.About__skills--complement {
    width: 100%;
    height: max-content;
    margin-top: var(--margin2);
}

.About__skills--complements-items {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    place-items: center;
    grid-gap: 18px;
    width: 100%;
    height: 100%;
    margin-top: var(--margin3);
}

.About__skills--complements-items p {
    font-size: var(--s);
    font-weight: 400;
    color: var(--dark2);
}

.About__skills--complements-items p::before {
    content: ">";
    display: inline-block;
    margin-right: 7px;
    font-weight: 700;
    color: var(--blue4);
}

@media screen and (min-width: 480px) {
    .About__skills {
        width: 95%;
    }

    .About__me--courses {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        grid-gap: 6px;
    }
}

@media screen and (min-width: 767px) {
    .About {
        width: 100%;
        max-width: 1440px;
        margin: 144px auto;
    }

    .About__me {
        width: 85%;
        height: max-content;
        margin-bottom: var(--margin1);
    }

    .About__me--info {
        max-width: 1020px;
        margin: 0 auto;
    }

    .About__me--courses {
        grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    }

    .About__me--title-courses {
        margin-top: var(--margin1);
    }

    .About__skills {
        width: 85%;
        height: max-content;
    }

    .About__skills--animation {
        width: 100%;
        height: max-content;
    }

    .About__skills--animation svg {
        width: 38px;
        height: 38px;
    }

    .About__skills--complement {
        width: 100%;
    }

    .About__skills h3 {
        margin-bottom: var(--margin2);
    }

    .About__skills--complements-items {
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }

    .About__skills--complements-items p {
        font-size: var(--m);
    }

    .About__skills--animation-one {
        width: 450px;
        height: 450px;
    }

    .svg-one {
        left: 112px;
    }
    @keyframes rotate {
        from { transform: rotate(0deg)  translate(-225px) rotate(0deg); }
        to { transform: rotate(360deg) translate(-225px) rotate(-360deg); }
    }
    
    .svg-two {
        left: 84px;
    }
    @keyframes rotate-2 {
        from { transform: rotate(0deg)  translate(-175px) rotate(0deg); }
        to { transform: rotate(360deg) translate(-175px) rotate(-360deg); }
    }
    
    .svg-three {
        left: 28px;
    }
    
    @keyframes rotate-3 {
        from { transform: rotate(0deg)  translate(-120px) rotate(0deg); }
        to { transform: rotate(360deg) translate(-120px) rotate(-360deg); }
    }
    
    @keyframes rotate-4 {
        from { transform: rotate(0deg)  translate(-125px) rotate(0deg); }
        to { transform: rotate(360deg) translate(-125px) rotate(-360deg); }
    }
    
    .svg-five {
        right: 34px;
    }
    @keyframes rotate-5 {
        from { transform: rotate(0deg)  translate(-75px) rotate(0deg); }
        to { transform: rotate(360deg) translate(-75px) rotate(-360deg); }
    }
    
    .svg-six {
        right: 75px;
    }
    @keyframes rotate-6 {
        from { transform: rotate(0deg)  translate(-75px) rotate(0deg); }
        to { transform: rotate(360deg) translate(-75px) rotate(-360deg); }
    }
    
    .svg-seven {
        right: 115px;
    }
    @keyframes rotate-7 {
        to {
            transform: rotate(1turn);
        }
    }
}

@media screen and (min-width: 1020px) {
    .About__me--courses {
        grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    }

    .About__me--info h2::before, .About__me--info h2::after {
        width: 20%;
    }
}