.Blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: 100vh;
}

.Blog p {
    margin-top: var(--margin3);
    font-size: var(--m);
    font-weight: 400;
    color: var(--lightGray);
}