 .btn-component {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 9px;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--blue2);
  color: var(--light);
  border-radius: var(--radius3);
  text-align: center;
}

@media screen and (min-width: 767px) {
  .btn-component {
    max-width: 220px;
    padding: 13px;
  }
}