.btn {
  width: 100%;
  height: 35px;
}
 
.btn a {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--light);
  border: 2px solid var(--lightGray);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.btn a:hover {
  color: var(--pink);
  border: 2px solid var(--pink);
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 767px) {
  .btn a {
    max-width: 300px;
  }
}