.Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: var(--margin1) 0;
}

.Contact__info {
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.Contact__info h2::after {
        content: '';
        display: block;
        width: 40px;
        height: 5px;
        background-color: var(--blue3);
}

.Contact__info p {
    margin-top: var(--margin3);
    font-size: var(--m);
    font-weight: 400;
    color: var(--lightGray);
}

.Contact__me {
    width: 85%;
    height: auto;
    margin: var(--margin2) auto 0 auto;
}

.Contact__me form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 440px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--dark1);
    color: var(--lightGray);
    border-radius: var(--radius3);
}

.Contact__me form label {
    margin-bottom: 6px;
    font-size: var(--m);
}

.Contact__me form input {
    height: 40px;
}

.Contact__me form input,
.Contact__me form textarea {
    margin-bottom: 22px;
    padding-left: 12px;
    font-size: var(--s);
    background-color: var(--medium);
    color: var(--lightGray2);
    border-radius: var(--radius3);
    border: none;
}

.Contact__me form textarea {
    min-height: 120px;
    padding-top: 6px;
    resize: vertical;
}

.Contact__me form button {
    width: 100%;
    height: 100%;
    padding: 9px;
    font-size: var(--s);
    font-weight: 500;
    text-transform: uppercase;
    background-color: var(--blue2);
    color: var(--lightGray2);
    border-radius: var(--radius3);
    text-align: center;
    cursor: pointer;
    border: none;
    z-index: 2;
}

::placeholder {
    font-size: var(--s);
    font-weight: 300;
    color: var(--lightGray);
}

.Contact__me--alert {
    width: 100%;
    height: max-content;
    margin-top: 22px;
    padding: 12px;
    font-size: var(--m);
    font-weight: 400;
    color: var(--lightGray2);
    background-color: var(--pink);
    border-radius: var(--radius2);
    text-align: center;
    z-index: 1;
    -webkit-animation: alert 0.9s both;
	        animation: alert 0.9s both;
}

.Contact__me form input:focus, 
.Contact__me form textarea:focus {
    outline: 1px solid var(--blue3);
}

@-webkit-keyframes alert {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes alert {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
}

@media screen and (min-width: 1020px) {
        .Contact {
        flex-direction: row;
        max-width: 1440px;
        min-height: 90vh;
        margin: 72px 0;
        }
        
        .Contact__info {
        width: 35%;
        height: 100%;
        }

        .Contact__me {
        width: 35%;
        }

        .Contact__me--alert {
        position: relative;
        left: calc(100% - 260px);
        max-width: 260px;
        }

        .Contanct__me form {
                max-width: 640px;
        }

        .Contact__me form button {
                position: relative;
                left: calc(100% - 260px);
                max-width: 260px;
                padding: 13px;
        }
}