.Curriculum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100vh;
    margin: 0 auto;
}

.Curriculum__links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: var(--margin2) auto 0 auto;
}

.Curriculum__links a {
    font-size: var(--m);
    font-weight: 400;
    color: var(--blue4);
    transition: all .2s ease 0s;
}

.Curriculum__links a:hover {
    color: var(--lightGray2);
    border-bottom: 2px solid var(--blue3);
}

.Curriculum__links a::before {
    content: ">";
    display: inline-block;
    margin-right: 7px;
    font-weight: 700;
    color: var(--blue4);
}

@media screen and (min-width: 767px) {
    .Curriculum__links {
        width: 40%;
    }
}