.Footer {
    position: relative;
    width: 100%;
    height: 74px;
    margin-top: 144px;
}

.Footer__container--bottom {
    position: relative;
    height: 100%;
    background-color: var(--blue1);
}

.Footer__wave--bottom {
    position: absolute;
    bottom: 0;
    height: 74px;
    width: 100%;
    background-color: var(--blue1);
    transform: rotate(180deg);
}
  
.Footer__wave--bottom::before, .Footer__wave--bottom::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50% 100%;
}
  
.Footer__wave--bottom::before {
    top: 40%;
    right: -1.5%;
    width: 48%;
    height: 100%;
    background-color: var(--blue1);
}

.Footer__wave--bottom::after {
    top: 60%;
    width: 60%;
    height: 109%;
    background-color: var(--darkBlue2);
}

.Footer__elements {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Footer__elements--built {
    margin-left: 40px;
    font-size: var(--s);
    font-weight: 400;
    color: var(--blue4);
}

.Footer__elements--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin-top: 25.5px;
    margin-right: 40px;
    border: 2px solid var(--blue3);
    border-radius: 50%;
    text-align: center;
}

.Footer__elements--circle-link {
    width: 28px;
    height: 28px;
    background-color: var(--medium);
    border-radius: 50%;
}

.Footer__elements--circle-link a {
    color: var(--light);
}

.Footer__elements--circle-link a svg {
    margin-top: 5px;
}

@media screen and (min-width: 767px) {
    .Footer {
        margin: 0;
    }
}
