.Footer {
    width: 100%;
    height: max-content;
    padding: 60px 0;
    background-color: var(--lightGray2);
    border-top: 2px solid var(--lightGray2);
}

.Footer__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.Footer__elements--info-built {
    font-size: var(--s);
    font-weight: 400;
    color: var(--blue1);
}

.Footer__elements--info-links {
    margin-top: var(--margin3);
}

.Footer__elements--info-links a {
    color: var(--dark2);
}

.Footer__elements--info-links a:first-child {
    margin-right: 8px;
}

.Footer__elements--info-links a:hover {
    color: var(--dark1);
}

.Footer__elements--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border: 2px solid var(--blue3);
    border-radius: 50%;
    text-align: center;
}

.Footer__elements--circle-link {
    width: 28px;
    height: 28px;
    background-color: var(--medium);
    border-radius: 50%;
}

.Footer__elements--circle-link a {
    color: var(--light);
}

.Footer__elements--circle-link a svg {
    margin-top: 5px;
}