.Home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: max-content;
  height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #25458a, #274e97, #2858a3, #2861b0, #286bbd);
}

.Home__intro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  max-width: 1020px;
}

.Home__intro h1 {
    font-size: var(--xxl);
    font-weight: 700;
}

.Home__intro--greeting {
    font-size: 4.5rem;
    color: var(--light);
}

.Home__intro--skill {
    font-weight: 300;
    color: var(--blue4);
    -webkit-animation: Home__intro--skill 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: Home__intro--skill 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes Home__intro--skill {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes Home__intro--skill {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

.Home__intro p {
    margin-top: var(--margin3);
    font-size: var(--m);
    font-weight: 400;
    color: var(--light);
}

.Home__button {
    width: 100%;
    height: 40px;
    margin-top: var(--margin2);
}

.Home__cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.Home__cover svg {
  position: relative;
  display: block;
  width: 100%;
  height: 42px;
}

.Home__cover .shape-fill {
  fill: var(--light);
}

@media screen and (min-width: 767px) {
  .Home {
    height: 88vh;
  }

  .Home__intro {
    margin-bottom: 72px;
  }
  
  .Home__intro--greeting {
    font-size: 5.5rem;
    color: var(--light);
  }

  .Home__button {
      height: 48px;
  }

  .Home__cover svg {
    height: 72px;
  }
}