.Navbar {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 8vh;
    z-index: 5;
    background-color: var(--darkBlue2);
}

.Navbar__btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--darkBlue2);
}

.Navbar__btn--burger {
    z-index: 10;
    margin-right: 10px;
    background-color: transparent;
    color: var(--light);
    outline: none;
    border: none;
}

.open {
    display: none;
}

.close {
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(calc(100vw - 200px));
              transform: translateX(calc(100vw - 200px));
    }
  }
@keyframes slide-left {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(calc(100vw - 200px));
              transform: translateX(calc(100vw - 200px));
    }
}

.Navbar__container {
    position: absolute;
    top: 0;
    width: 200px;
    height: max-content;
    padding: 12vh 15px 8vh 15px;
    border-radius: 30px 0 0 30px;
    background-color: var(--darkBlue1);
}
  
.Navbar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    margin-bottom: var(--margin1);
}

.Navbar__logo figure {
    width: 100%;
    max-width: 130px;
    height: 100%;
    max-height: 90px;
}

.Navbar__logo img {
    width: 100%;
    height: 100%;
}

.Navbar__links-nav {
    width: 100%;
    height: max-content;
}

.Navbar__links-nav a {
    display: block;
    margin-bottom: var(--margin3);
    padding: 10px;
    font-size: var(--m);
    font-weight: 400;
    color: var(--lightGray);
    border-radius: var(--radius2);
}

.Navbar__links-nav a:hover {
    background-color: var(--blue3);
}

.Navbar__links--cv-button {
    height: max-content;
    background-color:rgba(0, 130, 136, .15);
    border: 2px solid var(--blue2);
    text-align: center;
}

@media screen and (min-width: 767px) {
    .open {
        display: block;
    }

    .Navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
        margin: 0 auto;
    }  

    .Navbar__btn {
        display: none;
        height: 0px;
    }

    .Navbar__btn--burger {
        margin-right: 0px;
    }

    .Navbar__container {
        position: initial;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        max-width: 1440px;
        height: max-content;
        margin: 0 auto;
        padding: 0;
        background-color: transparent;
        -webkit-animation: none;
        animation: none;
        background-repeat: no-repeat;
        background-size: 0%;
        border-radius: 0;
    }

    .Navbar__logo {
        width: max-content;
        height: 100%;
        margin-bottom: 0;
    }
    
    .Navbar__logo figure {
        width: 110px;
        height: 35px;
    }
    
    .Navbar__logo img {
        width: 100%;
        height: 100%;
    }

    .Navbar__links-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: max-content;
        height: 100%;
    }

    .Navbar__links-nav a {
        margin-bottom: 0;
        margin-right: 8px;
    }
}
