.btn-navbar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 8vh;
    background-color: var(--darkBlue1);
}

.btn-navbar-burger {
    margin-right: 10px;
    background-color: transparent;
    color: var(--light);
    outline: none;
    border: none;
}

.Navbar {
    width: 100%;
    height: 100vh;
    margin-top: -100px;
    background-color: var(--darkBlue1);
    -webkit-animation: Navbar 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: Navbar 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes Navbar {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  @keyframes Navbar {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }

.Navbar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: var(--darkBlue1);
}

.Navbar__logo figure {
    width: 100%;
    max-width: 130px;
    height: 100%;
    max-height: 90px;
}

.Navbar__logo a {
    font-size: var(--xl);
    color: var(--blue3);
}

.Navbar__logo img {
    width: 100%;
    height: 100%;
}

.Navbar__links {
    width: 100%;
    height: calc(85% - 8vh);
}

.Navbar__links-nav {
    width: 100%;
    height: max-content;
}

.Navbar__links-nav ul {
    width: 100%;
    height: 100%;
    margin-top: var(--margin2);
}

.Navbar__links-nav li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 16px 20px 16px 10px;
}

.Navbar__links-nav a {
    display: block;
    font-size: var(--m);
    font-weight: 400;
    color: var(--lightGray);
}

.Navbar__links-nav li:hover {
    color: var(--light);
    background-color: var(--blue3);
    border-radius: var(--radius1);
}

.Navbar__links-nav svg {
    margin-right: 18px;
}

.Navbar__links--cv {
    display: flex;
    justify-content: center;
    width: 100%;
    height: max-content;
    margin-top: 32px;
}
  
.Navbar__links--cv-button {
    height: 40px;
    margin-right: 10px;
    padding: 5px 6px;
    font-size: var(--m);
    font-weight: 400;
    background-color:rgba(0, 130, 136, .15);
    color: var(--lightGray);
    border: 2px solid var(--blue2);
    border-radius: var(--radius3);
    cursor: pointer;
}

.Navbar__links--cv-button:hover {
    background-color:rgba(0, 130, 136, .5);
}

.open {
    display: none;
}

.close {
    display: block;
}

@media screen and (min-width: 767px) {
    .Navbar {
        position: sticky;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        min-width: max-content;
        max-width: 15%;
        height: 100vh;
        margin-top: 0;
        -webkit-animation: none;
        animation: none;
    }  

    .open {
        display: block;
    }

    .btn-navbar {
        display: none;
        height: 0px;
    }

    .Navbar__logo {
        height: 25%;
    }

    .Navbar__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 65%;
    }

    .Navbar__links-nav {
        height: max-content;
    }

    .Navbar__links-nav ul {
        display: block;
        grid-gap: 0px;
        height: max-content;
    }

    .Navbar__links-nav li {
        justify-content: flex-start;
        width: 95%;
        height: max-content;  
        padding: 16px 5px 16px 5px;
    }

    .Navbar__links--cv {
        margin-top: 0;
    }

}

@media screen and (min-width: 1180px) {
    .Navbar__links-nav li {
        width: 80%;
        padding: 16px 20px 16px 10px;
    }
}