
.Navbar__social {
    display: none;
}

@media screen and (min-width: 1020px) {
    .Navbar__social {
        display: block;
        position: absolute;
        top: 0;
        left: calc(97.5% - 28px);
        height: 140px;
    }
    
    .Navbar__social--links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .Navbar__social--links a {
        margin-top: 8px;
        color: var(--lightGray);
    }
    
    .Navbar__social--links a:hover {
        color: var(--light);
    }
}