.TotalWorks {
    width: 90%;
    height: 100%;
    margin: var(--margin1) auto;
}

.TotalWorks__title {
    width: 100%;
    height: max-content;
    margin: 0 auto;
}

.TotalWorks__title h2 {
    margin-bottom: var(--margin3);
    font-size: var(--xl);
    font-weight: 500;
    color: var(--light);
}

.TotalWorks__title p {
    margin-bottom: var(--margin2);
    font-size: var(--m);
    font-weight: 400;
    color: var(--lightGray);
}

.TotalWorks__categories {
    display: grid;
    grid-template: auto / .3fr 1fr .7fr;
    width: 100%;
    height: max-content;
}

.TotalWorks__categories p {
    padding: 6px 0;
    font-size: var(--m);
    font-weight: 500;
    color: var(--lightGray2);
}

.TotalWorks__categories p:nth-child(3) {
    display: none
}

@media screen and (min-width: 767px) {
    .TotalWorks {
        width: 85%;
        margin: 72px auto;
    }

    .TotalWorks__title {
        width: 85%;
    }

    .TotalWorks__categories {
        grid-template: auto / .3fr repeat(2, 1fr) .7fr;
        width: 85%;
        margin: 0 auto;
    }

    .TotalWorks__categories p:nth-child(3) {
        display: inline;
    }
    
}