.Works__projects--item {
    width: 100%;
    height: 100%;
}

.Works__projects--item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
    color: var(--dark2);
    border-radius: var(--radius3);
    transition: all 0.3s ease-out;
}

.Works__projects--item-container:hover {
    transform: translateY(-5px) scale(1.05) translateZ(0);
}

.Works__projects--item-container-image {
    position: relative;
    width: 100%;
    height: 220px;
}

.Works__projects--item-container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius3);
}

.Works__projects--item-container-title h3 {
    font-size: var(--m);
    font-weight: 500;
    color: var(--dark2);
    margin-top: var(--margin3);
}

.Works__projects--item-container-tools {
    width: 100%;
    margin: var(--margin3) 0;
}

.Works__projects--item-container-tools p {
    font-size: var(--s);
    font-weight: 400;
    color: var(--dark2);
    text-align: center;
}

.Works__projects--item-container-links {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 25%;
    margin-right: 8px;
    margin-bottom: 8px;
}

.Works__projects--item-container-links a {
    padding: 3px;
    color: var(--dark2);
    background-color: var(--lightGray2);
    border-radius: var(--radius2);
}

.Works__projects--item-container-links a:hover {
    color: var(--dark1);
}

@media screen and (min-width: 520px) {
    .Works__projects--item-container {
        margin-bottom: 0;
    }

    .Works__projects--item-container-links {
        width: 30%;
    }
}

@media screen and (min-width: 767px) {
    .Works__projects--item-container-image {
        height: 220px;
    }

    .Works__projects--item-container-links {
        width: 20%;
        max-width: 200px;
    }
}