.Works {
    width: 100%;
    max-width: 1440px;
    height: 100%;   
    min-height: 100vh;
    margin: 72px auto;
}

.Works__title {
    width: 85%;
    height: max-content;
    margin: 0 auto;
}

.Works__title h2::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: var(--blue3);
}

.Works__subtitle {
    width: 100%;
    height: max-content;
    text-align: center;
}

.Works__subtitle h3 {
    margin: var(--margin2) 0;
    font-size: var(--l);
    font-weight: 500;
    color: var(--light);
}

.Works__projects {
    width: 95%;
    height: max-content;
    margin: 0 auto;
}

.Works__list {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 22px auto 0 auto;
}

@media screen and (min-width: 480px) {
    .Works__projects {
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        grid-gap: 7px;
    }  
}

@media screen and (min-width: 1020px) {
    .Works {
        margin: 144px auto;
    }

    .Works__projects {
        grid-template: auto / repeat(3, 1fr);
        grid-gap: 6px;
    }  
}