.Works {
    width: 100%;
    max-width: 1440px;
    height: 100%;   
    min-height: 100vh;
    margin: 72px auto;
}

.Works__title {
    width: 85%;
    height: max-content;
    margin: 0 auto;
}

.Works__title h2 {
    font-size: var(--xl);
    color: var(--light);
}

.Works__subtitle {
    width: 85%;
    height: max-content;
    margin: 0 auto;
}

.Works__subtitle h2 {
    font-size: var(--xl);
    color: var(--light);
}

.Works__projects {
    width: 85%;
    height: max-content;
    margin: 30px auto 0 auto;
}

.Works__list {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 22px auto 0 auto;
}

@media screen and (min-width: 480px) {
    .Works__title h2::after {
        display: inline-block;
        content: "";
        width: 40%;
        height: 2px;
        margin-left: 14px;
        vertical-align: middle;
        background-color: var(--purple1);
    }

    .Works__subtitle h2::after {
        display: inline-block;
        content: "";
        width: 20%;
        height: 2px;
        margin-left: 14px;
        vertical-align: middle;
        background-color: var(--purple1);
    }

    .Works__projects {
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        grid-gap: 7px;
    }  
}

@media screen and (min-width: 767px) {
    .Works {
        width: 100%;
    }

    .Works__title {
        width: 95%;
    }

    .Works__subtitle {
        width: 85%;
    }

    .Works__projects {
        grid-template: auto / repeat(3, 1fr);
        grid-gap: 3px;
        width: 85%;
    }  
}