.Works__projects--item {
    width: 100%;
    height: 100%;
}

.Works__projects--item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: var(--margin3);
    padding: 18px;
    background-color: var(--dark1);
    color: var(--lightGray);
    transition: all 0.3s ease-out;
}

.Works__projects--item-container:hover {
    color: var(--light);
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0px -4px 19px 2px var(--blue4)
}

.Works__projects--item-container:nth-child(1) {
    border-top-left-radius: var(--radius3);
    border-top-right-radius: var(--radius3);
}

.Works__projects--item-container:nth-child(6) {
    border-bottom-left-radius: var(--radius3);
    border-bottom-right-radius: var(--radius3);
}

.Works__projects--item-container-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 136px;
    border: 2px solid var(--blue3);
    border-radius: 50%;
}

.Works__projects--item-container-number-circle {
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    font-size: 7rem;
    border-radius: 50%;
    background-color: var(--dark2);
}

.Works__projects--item-container-title h3 {
    font-size: var(--l);
    font-weight: 500;
    color: var(--lightGray2);
    margin-top: 18px;
}

.Works__projects--item-container-tools {
    width: 100%;
    margin-top: var(--margin3);
}

.Works__projects--item-container-tools p {
    font-size: var(--s);
    font-weight: 400;
    color: var(--lightGray);
    text-align: center;
}

.Works__projects--item-container-links {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 50%;
    margin-top: 12px;
}

.Works__projects--item-container-links a {
    color: var(--lightGray);
}

.Works__projects--item-container-links a:hover {
    color: var(--light);
}

@media screen and (min-width: 480px) {
    .Works__projects--item-container:nth-child(1) {
        border-top-left-radius: var(--radius3);
        border-top-right-radius: 0px;
    }

    .Works__projects--item-container:nth-child(2) {
        border-top-right-radius: var(--radius3);
    }

    .Works__projects--item-container:nth-child(5) {
        border-bottom-left-radius: var(--radius3);
    }
    
    .Works__projects--item-container:nth-child(6) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: var(--radius3);
    }
}

@media screen and (min-width: 767px) {
    .Works__projects--item-container:nth-child(2) {
        border-top-right-radius: 0px;
    }

    .Works__projects--item-container:nth-child(3) {
        border-top-right-radius: var(--radius3);
    }

    .Works__projects--item-container:nth-child(4) {
        border-bottom-left-radius: var(--radius3);
    }

    .Works__projects--item-container:nth-child(5) {
        border-bottom-left-radius: 0px;
    }
    
    .Works__projects--item-container:nth-child(6) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: var(--radius3);
    }
}