@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

:root {
    --dark1: #191d24;
    --dark2: #222831;
    --medium: #24272c;
    --gray: #878b92;
    --lightGray: #c9d2df;
    --lightGray2: #e4d9d9;
    --light: #eeeeee;
    --blue1: #1F4068;
    --blue2: #008288;
    --blue3: #00adb5;
    --blue4: #2ec4cc;
    --darkBlue1: #16213E;
    --darkBlue2: #1D2D50;
    --yellow: #F7B66F;
    --margin1: 36px;
    --margin2: 28px;
    --margin3: 11px;
    --xxl: 5rem; /* h1 */
    --xl: 4rem; /* h2 */
    --l: 2.4rem; /* h3 */
    --m: 1.8rem; /* p, a */
    --s: 1.5rem; /* p, button, form(*) */
    --radius1: 12px;
    --radius2: 8px;
    --radius3: 4px;
    --borderSpecial: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Lexend', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--darkBlue2);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, a, button {
    letter-spacing: 1px;
}

h2 {
    margin-bottom: var(--margin3);
    font-size: var(--xl);
    font-weight: 500;
    color: var(--light);
}

h2::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: var(--blue3);
    border-radius: 50px;
}

a:focus,
button:focus, 
svg:focus {
    outline: 2px dashed var(--yellow);
    outline-offset: 1.5px;
    transition: all 0.3s ease-out;
}

#app {
    display: block;
    width: 100%;
    min-width: 320px;
    height: 100%;
}

@media screen and (min-width: 480px) {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: var(--darkBlue1);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--lightGray);
    }
}

@media screen and (min-width: 767px) {
    #app {
        display: flex;
        height: max-content;
    }
}

@media screen and (min-width: 1020px) {
    h2 {
        font-size: var(--xxl);
    }
}