@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

:root {
    --dark1: #191d24;
    --dark2: #222831;
    --medium: #24272c;
    --gray: #878b92;
    --lightGray: #b1bbcc;
    --lightGray2: #e4d9d9;
    --light: #eeeeee;
    --blue1: #00656A;
    --blue2: #008288;
    --blue3: #00adb5;
    --blue4: #2ec4cc;
    --purple1: #312450;
    --purple2: #493381;
    --xxl: 3.4rem; /* h1 */
    --xl: 3rem; /* h2 */
    --l: 1.8rem; /* h3 */
    --m: 1.6rem; /* p, a */
    --s: 1.4rem; /* p, button, form(*) */
    --radius1: 12px;
    --radius2: 8px;
    --radius3: 4px;
    --borderSpecial: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Lexend', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--purple2);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, a, button {
    letter-spacing: 1px;
}

#app {
    display: block;
    width: 100%;
    min-width: 320px;
    height: 100vh;
}

@media screen and (min-width: 767px) {
    #app {
        display: flex;
        height: max-content;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        background-color: var(--purple1);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--lightGray);
    }
}