@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700&display=swap');

:root {
    --dark1: #191d24;
    --dark2: #222831;
    --medium: #393e46;
    --lightGray: #b1bbcc;
    --light: #eeeeee;
    --blue1: #00656A;
    --blue2: #008288;
    --blue3: #00adb5;
    --blue4: #2ec4cc;
    --purple1: #312450;
    --purple2: #5e42a6;
    --shadow1: rgba(0, 173, 181, .9)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Lexend', sans-serif;
}

body {
    background-color: var(--medium);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#app {
    display: block;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    overflow: hidden;
}

@media screen and (min-width: 767px) {
    #app {
        display: flex;
        height: max-content;
    }
}